/*navi bar hover color*/
.navbar-nav  .nav-item .nav-link:hover 
{
color:#0eca56;
}

/*navi bar right icons hover color*/
.link-success:link
{
color:#ffffff;

}
.link-success:visited
{
color:#ffffff;
transition: 0.2s;
}
.link-success:hover
{
color:rgb(14, 202, 86);
transition: 0.2s;
}

/*navi bar toggler button focus color*/
.navbar-toggler:focus,
.navbar-toggler-icon:focus 
{
box-shadow: 0px 0px 0px 0.5px rgb(40, 207, 6);
}
/*navi bar toggler button hover color(svg bg image)*/
.navbar-toggler-icon:hover
{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(14, 202, 86)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*carousel positions*/
.carousel-caption {
bottom:20%;
}
.carousel-indicators{
bottom:13%; 
}
/*navi bar scroll positions*/
#navbar 
{
top: -100px;
width: 100%;
transition: top 0.4s;
background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgba(84,84,84,1) 100%); 
}
/*main navi bar positions*/
#navbarmain 
{
position:absolute;
top: 0px;
width: 100%;
z-index: 2050;
--bs-bg-opacity: 0.65;
}
/*footer column padding*/
.container-fluid .row .col-sm-3
{
    --bs-gutter-x: 6rem;
    padding-bottom: 2.5%;
    text-align: left;
    
}
#footerbody{
    padding: 3%;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(84,84,84,1) 100%); 
}
#footer{
    padding: 1%;
    border-top: 1px solid white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(48, 48, 48) 0%, rgba(84,84,84,1) 100%); 
}
@media only screen and (max-width: 768px) {
    .container-fluid .row .col-sm-3{text-align:center;}
    .container-fluid .row #footersocialmedia{display: flex;flex-wrap: nowrap;width:26%;}
    .carousel-caption .display-1{font-size:x-large;}
    .carousel-caption #captn{font-size: small;}
    .carousel-caption #btn{ padding:4px 4px;font-size:65%; line-height: 1;border-width:3px}
    .carousel-indicators{bottom:10%;}
    .container-fluid .row .col-sm-4{margin-bottom:10%;}
    .container-fluid .row .col-sm-4 #cardmid{width: auto;}
    .container-fluid  #testi .col-sm{margin-top:12%;font-size:15px; color: #3132329a;padding:0%;background-size:contain;}
    .container-fluid  #testi{background-size:contain;height: auto;}
    .container-fluid .row .col-sm-4 #cardcap{
        margin-top:25%;
        }
}

.btn:hover{
    color:white;
    background-color: black !important;
    opacity: .65;
}

#btn{
    border-radius:25px;border-color:#67AD7E;background-color: white;border-width:5px;
   
}

#btns{
    border-radius:35px;border-color:#67AD7E;background-color: white;border-width:3px;
   font-size: 80%;
}
#captn{
    letter-spacing: 5px;font-size: x-large;
}

#body{
    
    color: #3132329a;
    padding: 2%;
    overflow: hidden;
    background:transparent;

    margin-top: -7% !important;
    position:relative;
} 

#body .row .col-sm-4 img{
    box-shadow: 2px 5px 9px #888888;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

#cardcap{
margin-top:35%;text-align:left;padding: 5%;
}

#cardcapmid{
    margin-top:52%;padding: 5%;
    }

#cardmid{
    width: 72%;margin: auto;
}    

.card:hover{
    box-shadow: 2px 5px 9px #888888;
    transition:.3s;
}

#testi{
    background-image: url("images/testimotion-bgimg.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 550px;
    padding: 0%;
}

#testi .col-sm{
    margin-top:10%;
    font-size:35px;
    color: #3132329a;
    padding:5%;
}